/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 300px;
    z-index: 1;
    background-color: black;
    font-size: 22px;
    font-family: Helvetica, serif;
    color: seashell;
    text-align: center;
    opacity: 0.9;
}

h2, h3, h4 {
    margin: 0;
    padding: 0.45rem;
}


/* Navigation Styling */

nav {
    background-color: black;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav img {
    height: 50px;
    padding: 0 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu li:hover {
    background-color: dimgrey;
}

.menu li {
    list-style: none;
    padding: 1rem;
}

.menu li a {
    text-decoration: underline;
    color: seashell;
    opacity: 0.9;
}

/* Container Styling */

main {
    opacity: 0.9;
}

#mission, #tea, #locations {
    padding: 69px 0 0 0;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

/* Mission Section Styling */


.mission-container {
    background-image: url("./images/img-mission-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1200px;
    width: 100%;
    height: 100vmin;
    max-height: 700px;
    margin: 0 auto;
}


.mission-content {
    background-color: black;
    color: seashell;
    width: 100%;
}

/* Featured Tea Section Styling */

.tea-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.tea-sortiments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-type img {
    width: 300px;
    height: 200px;
    margin: 5px 15px;
}

/* Locations Section Styling */

.locations-container {
    background-image: url("./images/img-locations-background.webp");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1200px;
    width: 100%;
    height: 100vmin;
    max-height: 500px;
    margin: 0 auto;
}

.locations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.locations-content h2 {
    padding-bottom: 0;
}

.location-banner {
    width: 300px;
    background-color: black;
    margin: 0 20px 15px 20px;
    opacity: 1;

}

/* Footer Styling */

footer {
    padding-top: 1.5rem;
    height: 200px;
}

.copyright {
    text-align: left;
    padding-left: 20px;
}



/* Media Queries */

@media screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }

    nav {
        justify-content: center;
        height: auto;
    }
    .menu {
        background-color: black;
        flex-direction: row;
        width: 100%;
        margin-top: -5px;
    }

    .menu li {
        font-size: 18px;
        padding: 8px;
        margin: 0 auto;
    }

    #mission, #tea, #locations {
        width: 100%;
        padding: 87px 0 0 0;
    }
}

@media screen and (max-width: 450px) {
    body {
        font-size: 18px;
    }
}